/* ===== Background (real DevOps feeling) ===== */
.login-page{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#020617;
background-image:
radial-gradient(circle at 20% 20%, rgba(59,130,246,0.25), transparent 40%),
radial-gradient(circle at 80% 70%, rgba(6,182,212,0.20), transparent 40%);
font-family: "Segoe UI", Tahoma, sans-serif;
}

/* ===== Card ===== */
.login-card{
width:360px;
padding:40px;
border-radius:14px;
background:#0b1220;
border:1px solid #1f2937;
box-shadow:0 0 40px rgba(0,0,0,0.8);
color:#e5e7eb;
}

/* ===== Titles ===== */
.title{
text-align:center;
font-size:28px;
font-weight:700;
margin-bottom:4px;
color:#60a5fa;
}

.subtitle{
text-align:center;
margin-bottom:30px;
color:#94a3b8;
}

/* ===== Input container ===== */
.input-group{
display:flex;
flex-direction:column;
margin-bottom:22px;
}

.input-group label{
margin-bottom:6px;
font-size:13px;
color:#9ca3af;
}

/* ===== DARK INPUTS (NO WHITE) ===== */
.input-group input{
padding:13px;
border-radius:8px;
border:1px solid #1f2937;
outline:none;
background:#020617;
color:#e2e8f0;
font-size:14px;
transition:0.25s;
}

/* placeholder */
.input-group input::placeholder{
color:#475569;
}

/* focus glow (Kubernetes vibe) */
.input-group input:focus{
border:1px solid #3b82f6;
box-shadow:0 0 10px rgba(59,130,246,0.5);
background:#020617;
}

/* ===== Button ===== */
.login-btn{
width:100%;
padding:13px;
border:none;
border-radius:8px;
background:linear-gradient(135deg,#2563eb,#06b6d4);
color:white;
font-size:15px;
font-weight:600;
letter-spacing:0.5px;
cursor:pointer;
transition:0.25s;
}

/* hover */
.login-btn:hover{
box-shadow:0 0 18px rgba(37,99,235,0.7);
transform:translateY(-1px);
}

/* click */
.login-btn:active{
transform:scale(0.97);
}
